.movie{
    width: 325px;
    background-color: #023047; 
    color:white;
    margin:1rem;
    border-radius: 5px;
    box-shadow: 3px,3px,5px,rgba(0,0,0,0.1);
    overflow:hidden;
    position:relative;
}

.movie img {
    
    max-width:100%
}

.movie-info{
    display:flex
}

.movie-info h3{
    margin:0;
    align-items:centers;
    padding:1rem;
    justify-content: space-between;
}

.movie-overview{
    position: absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0,-3px,5px,rgba(0,0,0,0.1);
    background-color: #a76060;
    color:#59a1c5;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(102%);
    transition:  transform 0.5s ease-in-out;
}

.movie:hover .movie-overview{
    transform: translateY(0%)
}